<form ngForm (submit)="onRegister()" class="form-register">
  <mat-form-field>
    <input matInput name="username" placeholder="Username" [(ngModel)]="username" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput name="password" placeholder="Password" type="password" [(ngModel)]="password" required>
  </mat-form-field>

  <button mat-raised-button color="primary" class="form-register-button">Log In</button>

  <!-- Display the error message in red text -->
  <p *ngIf="registerError" class="error-text">{{ registerError }}</p>
</form>
